<%- model_class = Event -%>
<div class="page-header">
  <h1><center><%=t '.title', :default => model_class.model_name.human %> <%= @event.name %></center></h1>
</div>  

<h2><div><center> <strong>Time left:</strong> </center></div></h2>


<div id="jcountdown" data-date="<%= @event.datejs %>"></div>


